########### Data Preparation stage
evidently


########### Modeling stage
torch
unsloth
transformers[torch]
accelerate>=0.26.0
evaluate
datasets

########### Operationalisation Stage
fastapi
guardrails-ai
digitalhub

